@charset "utf-8";
/* CSS Document */

*{
	
	margin: 0;
	padding: 0;
}

body{
	background-color: #16191c;
}

.grid{
	height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	display:grid;
	grid-template-rows: 70px 1fr 15px 1fr;
	grid-template-columns: 15px 1fr 30px 1fr 15px;
	background-color: #26292b;
	z-index: 1;
}

header {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	height: 50px;
	width: 100%;
	background-color: #3b3e40;
	align-items: center;
	box-shadow: 0px 3px 49px 1px rgba(0,0,0,0.75);
	z-index: 4;
	position: fixed;
}

.burger {
	grid-column: 2 / 3;
	color: #f2f2f2;
	cursor: pointer;
	text-align: center;
}

.header-title {
	grid-column: 3 / 11;
	font-family: 'Ariar Regular';
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.logout {
	grid-column: 11 / 12;
	cursor: pointer;
	text-align: center;
}


.menu-hidden{
	position: fixed;
    left: -120%;
	height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
	font-family: "Neucha";
	font-size: 20px;
	width: 350px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 203px repeat(5,1fr);
}

.nav a {
	text-decoration: none;
	color: white;
}

.logo {
	margin-top: 50px;
}

.menu-close {
	display: none;
	position: absolute;
	bottom: 50%;
	right: 70%;
	color: #5f6264;
	cursor: pointer;
}



.block{
	text-align: center;
	grid-row-start: 2;
	grid-column-start: 2;
	grid-column-end: 5;
	background-color: #3b3e40;
	min-height: 600px;
	height: 100%;
}

footer {
	display: grid;
	grid-column: 2 / 5;
	grid-row: 3 / 5;
	align-items: center;
	grid-template-columns:  repeat(12,1fr);
}

.footer-title {
	grid-column: 5 / 9;
	font-size: 20px;
	font-family: 'Arial';
	font-weight: bold;
	color: #5f6264;
	text-align: center;
}

.about-livy {
	grid-column: 10 / 12;
}

.about-livy a{
	color: #666a6c;
	font-size: 20px;
	text-decoration: none;
}

.about-livy span {
	color: #919698;
}



