@charset "utf-8";
/* CSS Document */

*{
	
	margin: 0;
	padding: 0;
}

body{
	background-color: #16191c;
}

.grid{
	height: 100vh;
	max-width: 90vw;
	margin: 0 auto;
	display:grid;
	grid-template-rows: 15px 1fr 15px;
	grid-template-columns: 15px 1fr 30px 1fr 15px;
}

.block{
	text-align: center;
	padding: 15px;
	grid-row-start: 1;
	grid-column-start: 1; //==grid-column: 1 / 12;
	grid-column-end: 12;
	background-color: #26292b;
	min-height: 100vh;
	height: 100%;
}

.block2 {
	width: 80vw;
	height: 43vh;
	background-color: #3b3e40;
	margin-bottom: 15px;
	padding: 15px;
	text-align: left;
	color: #FFFFFF;
	font-size: 24px;
}

.inf_block {
	width: 25vw;
	height: 100px;
	float: right;
	background-color: #26292b;
	font-size: 16px;
	padding: 15px;
}

.d1 {
	display: inline-block;
	width: 60px; height: 60px;
	background: #83A7C9;
	border-radius: 50%;
	margin-top: 20px;
	margin-left: 20px;
}


.col1{
	opacity: 0.2;
	box-sizing: content-box;
	margin: 15px 0 15px 0;
	grid-row-start: 1;
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: DeepPink;
}

.col2{
	opacity: 0.2;
	box-sizing: content-box;
	margin: 15px 0 15px 0;
	grid-row-start: 2;
	grid-column-start: 4;
	grid-column-end: 5;
	background-color: DeepPink;
}

.main-header{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 60px;
	color: GhostWhite;
}

.text{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 20px;
	color: #c8c8ce;
}

span{
	color: GhostWhite;
}
