@charset "utf-8";
/* CSS Document */

*{

	margin: 0;
	padding: 0;
}

body{
	background-color: #16191c;
}

.grid{
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	display:grid;
	grid-template-rows: 70px 1fr 15px 50px;
	grid-template-columns: 15px 1fr 30px 1fr 15px;
	background-color: #26292b;
	z-index: 1;
}

header {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	height: 50px;
	width: 100%;
	background-color: #3b3e40;
	align-items: center;
	box-shadow: 0px 3px 49px 1px rgba(0,0,0,0.75);
	z-index: 4;
	position: fixed;
}

.burger {
	grid-column: 2 / 3;
	color: #f2f2f2;
	cursor: pointer;
	text-align: center;
}

.header-title {
	grid-column: 3 / 11;
	font-family: 'Ariar Regular';
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.logout {
	grid-column: 11 / 12;
	cursor: pointer;
	text-align: center;
}


.menu-hidden{
	position: fixed;
    left: -120%;
	height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
	font-family: "Neucha";
	font-size: 20px;
	width: 380px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr repeat(5,1fr);
}

.nav:hover {
	background-color: #5f6264;
	cursor: pointer;
}
.nav a {
	text-decoration: none;
	color: white;
}

.nav {
	display: grid;
	align-items: center;
	height: 100%;
}

.logo {
	margin-top: 50px;
}

.menu-close {
	display: none;
	position: absolute;
	bottom: 50%;
	right: 70%;
	color: #5f6264;
	cursor: pointer;
}

.signup {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: repeat(5,1fr);
}

footer {
	display: grid;
	grid-column: 2 / 5;
	grid-row: 3 / 5;
	align-items: center;
	grid-template-columns:  repeat(12,1fr);
}

.footer-title {
	grid-column: 5 / 9;
	font-size: 20px;
	font-family: 'Arial';
	font-weight: bold;
	color: #5f6264;
	text-align: center;
}

.about-livy {
	grid-column: 10 / 12;
}

.about-livy a{
	color: #666a6c;
	font-size: 20px;
	text-decoration: none;
}

.about-livy span {
	color: #919698;
}

/* -------------------- GALINA -----------------------*/
.block{
	text-align: center;
	grid-row-start: 2;
	grid-column-start: 2;
	grid-column-end: 5;
	/*background-color: #3b3e40;*/
	min-height: 600px;
	height: 100%;
	/*box-shadow: 0px 1px 40px 1px rgba(0,0,0,0.5);*/
	display:grid;
	grid-template-rows: 7px 40px 10px 1fr 20px;
	grid-template-columns: 20px 1fr 20px;
}

/*.block2 {
	grid-column-start: 2;
	grid-column-end: 5;
	height: 43vh;
	background-color: #3b3e40;
	margin-bottom: 15px;
	padding: 15px;
	text-align: left;
	color: #9e9e9e;
	font-size: 24px;
}

.inf_block {
	width: 25vw;
	height: 100px;
	float: right;
	background-color: #26292b;
	font-size: 16px;
	padding: 15px;
}

.d1 {
	display: inline-block;
	width: 60px; height: 60px;
	background: #83A7C9;
	border-radius: 50%;
	margin-top: 20px;
	margin-left: 20px;
}

.circle {
	position: relative;
	display: inline-block;
	color: #FFFFFF;
	width: 110px;
}

.circle>p {
	//text-align: center;
	font-size: 18px;
}

.triangle {
	position: absolute;
	display: inline-block;
    border-right: 6px solid;
    border-bottom: 6px solid;
    height: 20px;
    width: 20px;
	top: 40px;
	left: 85px;
    transform: rotate(-45deg);
}*/

/*.check_knopka {
	height: 60px;

	grid-row: 2;

	grid-column: 2;
}

.knopka {
	margin: 20px;
	padding: 5px;
	padding-left: 20px;
	height: 30px;
	width: 170px;
	color: #FFFFFF;
	font-size: 20px;
	background-color: #26292b;
	text-align: left;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.checkbox {
	display: none;
}

.checkbox-custom {
	position: relative;      
	width: 15px;             
	height: 15px;            
	border: 2px solid #ccc;
	border-radius: 2px;
}

.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before {
	content: "";             
	display: block;			 
	position: absolute;      
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: #FFFFFF;     
	border-radius: 2px;
}*/

/*.circle:last-child > .triangle {
	display: none;
}

.wasted{
	background-color: firebrick;
}

.successfull{
	background-color: mediumspringgreen;
}

.current{
	background-color: goldenrod;
	//box-shadow: 0 0 20000px blue, 0 0 20000px blue, 0 0 20000px blue,0 0 20000px blue,0 0 20000px blue,0 0 20000px blue,0 0 20000px blue,0 0 20000px blue,0 0 20000px blue,0 0 20000px blue,0 0 20000px blue,0 0 20000px blue,0 0 20000px blue,0 0 20000px blue;
}

.unactive{
	background-color: lightslategray;
}*/
/* -------------------- GALINA -----------------------*/

/*-----KOLINA----*/
/*---удалить при объединении в один css------*/
.tableButton_inTable{
	grid-row: 2;

	grid-column: 2;
}

.tableButton_allTeams{
	height: auto;
	width: auto;

	padding-left: 3.5vw;
	padding-right: 3.1vw;
	padding-top: 10px;
	padding-bottom: 8px;
	
	background-color: #26292b;
	float: left;	

	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tableButton_allTeams input{
	margin-right: 5px;
	margin-top: 1.5%;
	float: left;
}

/*---------Check--------*/
.tableCheckbox{
	display: none;
}

.tableCheckbox-custom{
	position: relative;      
	width: 18px;             
	height: 18px;        

	background: #ffffff;
}

.tableCheckbox-custom,
.tableCheckLabel {
	display: inline-block;
	vertical-align: middle;
	
	-ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.tableCheckLabel {
	font-size: 24px;
	font-family:Arial;
	color: #FFFFFF;
}

.tableCheckbox:checked + .tableCheckbox-custom::before {
	content: "\2714";             
	display: block;			 
	position: absolute;      
	
	top: -2px;
	left: 2px;     
}
/*------------Check-------------*/
/*---удалить при объединении в один css------*/

.listAllTeams{
	grid-row: 4;
	grid-column: 2;
}

.oneTeamInList{
	width: 100%;
	min-height: 120px;
	
	margin-top: 18px;
	background-color: #3b3e40;

	box-shadow: 0 0 10px rgba(0,0,0,0.5);

	display:grid;
	/*grid-template-rows: 7px 1fr 7px 10fr 7px;
	grid-template-columns: 7px 5fr 13fr 23fr 10fr 10fr 12fr 10fr 10fr 10fr 7px;*/
	grid-template-rows: 10px 25px 7px 1fr 35px;
	grid-template-columns: 20px 3fr 25px 1fr 20px;
}

.headTeamInList{
	grid-row: 2;
	grid-column: 2/5;
}

.headTeamInList p{
	font-size: 24px;
	font-family:Arial;
	color: #9e9e9e;
	float: left;
}

.nameTeamInStages{
	color: #ffffff;
}

.listAllCircleInTeam{
	grid-row: 4;
	grid-column: 2;

	/*background: grey;*/
}

.blockWithCircle{
	float:left;
	width: 125px;
	height: 150px;

	/*background-color: grey;*/

	position: relative;
}

.triangleInBlock{
	position: absolute;
    border-right: 6px solid #c2c2c2;
    border-bottom: 6px solid #c2c2c2;
    height: 20px;
    width: 20px;
	top: 37px;
	left: 105px;
    transform: rotate(-45deg);
}

.blockWithCircle:last-child .triangleInBlock{
	display: none;
}

.oneCircleInBlock{
	display: inline-block;
	width: 60px; height: 60px;
	background: #c2c2c2;
	border-radius: 50%;
	margin-top: 20px;
}

.firstTextInBlock{
	margin-top: 5px;
	font-size: 18px;
	font-family:Arial;
	color: #ffffff;
	float: center;
}

.secondTextInBlock{
	font-size: 18px;
	font-family:Arial;
	color: #9e9e9e;
	float: center;
}

.doneColorText{
	color: #59b069;
}

.failColorText{
	color: #b05959;
}

.currColorText{
	color: #ffffff;
}

.doneColorCircle{
	background: #59b069;
}

.failColorCircle{
	background: #b05959;
}

.currColorCircle{
	background: #ede190;
	box-shadow: 0 0 20px rgba(237,225,144,0.7);
}

.propInTeam{
	grid-row: 4;
	grid-column: 4;

	height: 90px;

	background: #26292b;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding-left: 13px;
	padding-top: 15px;
}

.propInTeam p{
	font-size: 16px;
	font-family:Arial;
	color: #ffffff;
	text-align: left;
}
